
<div>
    <div class="row form-group">
      <div class="col-md-2">
          First Name:
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control push-left" [(ngModel)]= 'firstName' style="width: 355px;"/>
        <div *ngIf="IsFirstNameNotEntered" class="alert alert-danger small">
            Please enter first name.
          </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            Last Name:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control push-left" [(ngModel)]= 'lastName' style="width: 355px;"/>
          <div *ngIf="IsLastNameNotEntered" class="alert alert-danger small">
              Please enter Last name.
            </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row form-group">
          <div class="col-md-2">
              Employee ID:
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control push-left" [(ngModel)]= 'employeeId' style="width: 355px;"/>
            <div *ngIf="IsEmployeeIDNotEntered" class="alert alert-danger small">
                Please enter Employee id.
              </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>

    <div class="row form-group">
        <div class="col-md-2">
          </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary" (click)="AddUpdate()" style="width: 120px;">{{addbuttontext}}</button>
        </div>
        <div class="col-md-1">
          </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary" (click)="Reset()" style="width: 120px;">Reset</button>
        </div>

      </div>

<hr/>
<div class="row form-group">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]= 'searchKey' placeholder="Search..." style="width: 250px;"/>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary " (click)='Search()' >Search</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
    </div>
  </div>

<div *ngFor='let user of UserList'>
    <hr/>
    <div class="row form-group">
        <div class="col-md-8 bg-light">
          {{user.firstName}}
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary" (click)="Edit(user.userId)" style="width: 120px;">Edit</button>
        </div>
      </div>
      <div class="row form-group">
          <div class="col-md-8 bg-light">
              {{user.lastName}}
          </div>
          <div class="col-md-4">
              <button type="submit" class="btn btn-primary" (click)="Delete(user.userId)" style="width: 120px;">Delete</button>
          </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8 bg-light">
                {{user.employeeId}}
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <hr/>
</div>

</div>
