
<div class="alert alert-danger" *ngIf="dateIsInvalidValid">Start Date Should be less than end date.</div>
<div class="alert alert-danger" *ngIf="IsProjectNamePresent">Project is required.</div>

<div>
    <div class="row form-group">
      <div class="col-md-2">
          Project:
      </div>
      <div class="col-md-4">
        <input type="text"  id="projectname" name="projectname" class="form-control push-left" [(ngModel)]= 'project' [required]="true"/>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            Start Date:
        </div>
        <div class="col-md-3">
            <!-- <input type="date" id="start" name="trip-start"
            value="" [(ngModel)]= 'startDate' class="form-control"> -->

            <input type="date" id="start" name="trip-start"
                [ngModel]= "startDate | date:'yyyy-MM-dd'" class="form-control" (ngModelChange)="startDate = $event" class="form-control">

        </div>
        <div class="col-md-7">
        </div>
      </div>
      <div class="row form-group">
          <div class="col-md-2">
              End Date:
          </div>
          <div class="col-md-3">

            <!-- <input type="date" id="start" name="trip-start"
              value="" [(ngModel)]= 'endDate' class="form-control"> -->
              <input type="date" id="enddate" name="trip-end"
              [ngModel]= "endDate | date:'yyyy-MM-dd'" class="form-control" (ngModelChange)="endDate = $event" class="form-control">
          </div>
          <div class="col-md-7">
          </div>
        </div>
      <div class="row form-group">
        <div class="col-md-2">
            Priority:
        </div>
        <div class="col-md-4">
            <div class="slidecontainer">
                <input type="range" min="1" max="30" value="15" class="slider" id="myRange" [(ngModel)]="priority" (input)="OnPriorityChange($event.target.value)">
            </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row form-group">
          <div class="col-md-2">
              Manager:
          </div>
          <div class="col-md-4">
              <select [ngModel]="managerId" (ngModelChange)="managerId = $event" class="form-control">
                  <option value="0">Please Select</option>
                  <option *ngFor="let usr of ManagerInfo" value= {{usr.userId}}>
                    {{usr.firstName}} {{usr.lastName}}
                  </option>
                </select>
          </div>
          <div class="col-md-6">
          </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
              </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-primary" (click)="AddUpdate()">{{addbuttontext}}</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" (click)="Reset()">Reset</button>
            </div>

          </div>

<hr/>
<div class="row form-group">
    <div class="col-md-4">
      <input type="text" class="form-control push-left" [(ngModel)]= 'searchKey' placeholder="Search..." (input)="onSearchChange($event.target.value)"/>
    </div>
    <div class="col-md-8">
    </div>
  </div>
<hr/>
<div *ngFor='let proj of ProjectList'>
    <div class="row form-group">
        <div class="col-md-8">
          <div class="row">
              <div class="col-md-6">
                  Project:
                </div>
                <div class="col-md-6">
                    {{proj.projectDesc}}
                </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  No of Tasks:
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                  Completed:
                </div>
                <div class="col-md-3">

                </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  Start Date:
                </div>
                <div class="col-md-3">
                  {{proj.startDate | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col-md-3">
                  End Date:
                </div>
                <div class="col-md-3">
                  {{proj.endDate | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            Priority
          </div>
          <div class="row">
            {{proj.priority}}
          </div>
        </div>
        <div class="col-md-2">
          <div style="padding: 3px">
            <button type="submit" class="btn btn-primary" (click)="Edit(proj.projectId)">Update</button>
          </div>
          <div style="padding: 3px">
            <button type="submit" class="btn btn-primary" (click)="Delete(proj.projectId)">Suspend</button>
          </div>
        </div>
      </div>
      <hr/>
    </div>


    </div>

