
<div class="alert alert-danger" *ngIf="dateIsInvalidValid">Start Date Should be less than end date.</div>
<div class="alert alert-danger" *ngIf="IsProjectNameNotPresent">Project is required.</div>

<div>
<form #form="ngForm" novalidate>
  <div>
    <div class="row form-group ">
      <div class="col-md-2">
          Project:
      </div>
      <div class="col-md-4 has-error">
        <input type="text" #Projectname="ngModel" id="projectname" name="project" required class="form-control push-left" [(ngModel)]= 'project' [required]="true" style="width: 300px"/>
        <div *ngIf="IsProjectNameNotEntered" class="alert alert-danger small">
            Project Name is Required.
          </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            Start Date:
        </div>
        <div class="col-md-3">
            <!-- <input type="date" id="start" name="trip-start"
            value="" [(ngModel)]= 'startDate' class="form-control"> -->

            <input type="date" id="start" name="startDate" required
                [ngModel]= "startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event" class="form-control" >
                <div *ngIf="IsStartDateNotSelected" class="alert alert-danger small">
                    Please select start date.
                  </div>
        </div>
        <div class="col-md-7">
        </div>
      </div>
      <div class="row form-group">
          <div class="col-md-2">
              End Date:
          </div>
          <div class="col-md-3">
              <input type="date" id="enddate" name="endDate" required
              [ngModel]= "endDate | date:'yyyy-MM-dd'" class="form-control" (ngModelChange)="endDate = $event" class="form-control" width="200">
              <div *ngIf="IsEndDateNotSelected" class="alert alert-danger small">
                  Please select end date.
                </div>
                <div *ngIf="IsDateRangeNotValid" class="alert alert-danger small">
                    Start Date must be less than end date.
                  </div>
          </div>
          <div class="col-md-7">
          </div>
        </div>
      <div class="row form-group">
        <div class="col-md-2">
            Priority:
        </div>
        <div class="col-md-4">
            <div class="slidecontainer">
                <input type="range" min="1" max="30" name="priority" value="15" class="slider" id="myRange" [(ngModel)]="priority" (input)="OnPriorityChange($event.target.value)" style="width: 300px">
            </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row form-group">
          <div class="col-md-2">
              Manager:
          </div>
          <div class="col-md-4">
              <select name="managerId" [ngModel]="managerId" #manager (ngModelChange)="managerId = $event" class="form-control" style="width: 300px" (change)="validateManager(manager.value)">
                  <option value="0">Please Select</option>
                  <option *ngFor="let usr of ManagerInfo" value= {{usr.userId}}>
                    {{usr.firstName}} {{usr.lastName}}
                  </option>
                </select>
                <div *ngIf="IsManagerNotSelected" class="alert alert-danger small">
                    Select Project Manager.
                  </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-2">
          </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-primary" (click)="AddUpdate()"  style="width: 100px;">{{addbuttontext}}</button>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary" (click)="Reset()" style="width: 100px;">Reset</button>
            </div>

          </div>

        </div>
      </form>
<hr/>
<div class="row form-group">
    <div class="col-md-4">
      <input type="text" class="form-control push-left" [(ngModel)]= 'searchKey' placeholder="Search..." (input)="onSearchChange($event.target.value)"/>
    </div>
    <div class="col-md-8">
    </div>
  </div>
<hr/>
<div *ngFor='let proj of ProjectList'>
    <div class="row form-group">
        <div class="col-md-8">
          <div class="row">
              <div class="col-md-6">
                  Project:
                </div>
                <div class="col-md-6 bg-light">
                    {{proj.projectDesc}}
                </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  No of Tasks:
                </div>
                <div class="col-md-3 bg-light">

                </div>
                <div class="col-md-3">
                  Completed:
                </div>
                <div class="col-md-3 bg-light">

                </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  Start Date:
                </div>
                <div class="col-md-3 bg-light">
                  {{proj.startDate | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col-md-3">
                  End Date:
                </div>
                <div class="col-md-3 bg-light">
                  {{proj.endDate | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            Priority
          </div>
          <div class="row bg-light">
            {{proj.priority}}
          </div>
        </div>
        <div class="col-md-2">
          <div style="padding: 3px">
            <button type="submit" class="btn btn-primary" (click)="Edit(proj.projectId)" style="width: 100px;">Update</button>
          </div>
          <div style="padding: 3px">
            <button type="submit" class="btn btn-primary" (click)="Delete(proj.projectId)" style="width: 100px;">Suspend</button>
          </div>
        </div>
      </div>
      <hr/>
    </div>


    </div>

