
<div>
    <div class="row form-group">
        <div class="col-md-2">
            Project:
        </div>
        <div class="col-md-4">
            <select [ngModel]="projectId" (ngModelChange)="projectId = $event" class="form-control">
                <option value="0">Please Select</option>
                <option *ngFor="let proj of ProjectInfo" value= {{proj.projectId}}>
                  {{proj.projectDesc}}
                </option>
              </select>
        </div>
        <div class="col-md-6">
        </div>
      </div>
<div class="row form-group">
  <div class="col-md-2">
      Task:
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control push-left" [(ngModel)]= 'task'/>
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="row form-group">
    <div class="col-md-2">
        Priority:
    </div>
    <div class="col-md-4">
        <div class="slidecontainer">
            <input type="range" min="1" max="30" value="15" class="slider" id="myRange" (input)="OnPriorityChange($event.target.value)">
        </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row form-group">
      <div class="col-md-2">
          Parent Task:
      </div>
      <div class="col-md-4">
          <select [(ngModel)]="parentId" class="form-control">
              <option value="0">Please Select</option>
              <option *ngFor="let tsk of TaskInfo" value= {{tsk.taskId}}>
                {{tsk.taskDesc}}
              </option>
            </select>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            Start Date:
        </div>
        <div class="col-md-3">
            <input type="date" id="start" name="trip-start"
            value="" [(ngModel)]= 'startDate' class="form-control">
        </div>
        <div class="col-md-7">
        </div>
      </div>
      <div class="row form-group">
          <div class="col-md-2">
              End Date:
          </div>
          <div class="col-md-3">

            <input type="date" id="start" name="trip-start"
              value="" [(ngModel)]= 'endDate' class="form-control">

          </div>
          <div class="col-md-7">
          </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                User:
            </div>
            <div class="col-md-4">
                <select [ngModel]="userId" (ngModelChange)="userId = $event" class="form-control">
                    <option value="0">Please Select</option>
                    <option *ngFor="let usr of UserInfo" value= {{usr.userId}}>
                      {{usr.firstName}}{{usr.lastName}}
                    </option>
                  </select>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        <div class="row form-group">
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary" (click)="AddTask()">Add Task</button>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" (click)="ResetTask()">Reset</button>
            </div>
            <div class="col-md-8">
            </div>
          </div>
</div>
