
<div>
    <div class="row form-group">
        <div class="col-md-2">
            Project:
        </div>
        <div class="col-md-4">
            <select [ngModel]="projectId" (ngModelChange)="projectId = $event" style="width: 353px;" class="form-control">
                <option value="0">Please Select</option>
                <option *ngFor="let proj of ProjectInfo" value= {{proj.projectId}}>
                  {{proj.projectDesc}}
                </option>
              </select>
              <div *ngIf="IsProjectNotSelected" class="alert alert-danger small">
                  Select Project .
                </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
<div class="row form-group">
  <div class="col-md-2">
      Task:
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control push-left" [(ngModel)]= 'task' style="width: 353px;"/>
    <div *ngIf="IsTaskNameNotEntered" class="alert alert-danger small">
        Enter Task .
      </div>
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="row form-group">
    <div class="col-md-2">
        Priority:
    </div>
    <div class="col-md-4">
        <div class="slidecontainer">
            <input type="range" min="1" max="30" value="15" class="slider" [(ngModel)]="priority" style="width: 353px;" id="myRange" (input)="OnPriorityChange($event.target.value)">

        </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row form-group">
      <div class="col-md-2">
          Parent Task:
      </div>
      <div class="col-md-4">
          <select [(ngModel)]="parentId" class="form-control" style="width: 353px;">
              <option value="0">Please Select</option>
              <option *ngFor="let tsk of TaskInfo" value= {{tsk.taskId}}>
                {{tsk.taskDesc}}
              </option>
            </select>

      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            Start Date:
        </div>
        <div class="col-md-3">
            <input type="date" id="start" name="trip-start"
            value="" [(ngModel)]= 'startDate' class="form-control">
            <div *ngIf="IsStartDateNotSelected" class="alert alert-danger small">
                Select Start Date .
              </div>
        </div>
        <div class="col-md-7">
        </div>
      </div>
      <div class="row form-group">
          <div class="col-md-2">
              End Date:
          </div>
          <div class="col-md-3">

            <input type="date" id="start" name="trip-start"
              value="" [(ngModel)]= 'endDate' class="form-control">
              <div *ngIf="IsEndDateNotSelected" class="alert alert-danger small">
                  Select End Date .
                </div>
          </div>
          <div class="col-md-7">
          </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                User:
            </div>
            <div class="col-md-4">
                <select [ngModel]="userId" (ngModelChange)="userId = $event" class="form-control" style="width: 353px;">
                    <option value="0">Please Select</option>
                    <option *ngFor="let usr of UserInfo" value= {{usr.userId}}>
                      {{usr.firstName}}{{usr.lastName}}
                    </option>
                  </select>
                  <div *ngIf="IsUserNotSelected" class="alert alert-danger small">
                      Select User .
                    </div>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        <div class="row form-group">
            <div class="col-md-2"></div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-primary" (click)="AddTask()" style="width: 100px;">Add Task</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary" (click)="ResetTask()" style="width: 100px;">Reset</button>
            </div>

          </div>
</div>
