<!--The whole content below can be removed with the new code.-->
<!-- <div>
 <div>
   <app-Weather></app-Weather>
 </div>
</div> -->
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-barnd">{{pageTitle}}</a>
    <ul class="nav nav-pills">
        <li><a class="nav-link" [routerLink]="['/add']">Add Task</a></li>
        <li><a class="nav-link" [routerLink]="['/home']">View Task</a></li>
      </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
 