<div>
  <div class="row form-group label">
    <div class="col-md-6">
        <div><label>Task:</label></div>
        <div>
          <input type="text" class="form-control"
                [(ngModel)] = 'taskDesc'/>
        </div>
    </div>
    <div class="col-md-6">
        <div><label>Parent Task:</label> </div>
        <div> <input type="text" class="form-control"
          [(ngModel)] = 'parentTask'/></div>
      </div>
  </div>
  <div class="row form-group label">
    <div class="col-md-3">
        <div>Priority From:</div>
        <div><input type="text" class="form-control" type="number"
          [(ngModel)] = 'priorityFrom'/></div>
    </div>
    <div class="col-md-3">
        <div>Priority To:</div>
        <div><input [(ngModel)]= 'priorityTo' class="form-control" type="number"/></div>
    </div>
    <div class="col-md-3">
        <div>Start Date:</div>
        <div>
          <input type="date" id="start" name="trip-start"
           value="" [(ngModel)]= 'startDate' class="form-control">
        </div>
    </div>
    <div class="col-md-3">
        <div>End Date:</div>
        <div>
          <input type="date" id="start" name="trip-start"
          value="" [(ngModel)]= 'endDate' class="form-control"
          >
        </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary pull-right" (click)='SearchTask()'>Search</button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table" *ngIf='TaskInfo'>
      <thead>
          <tr>
            <td>
                Task
            </td>
            <td>
                Parent
            </td>
            <td>
                Priority
            </td>
            <td>
                Start
            </td>
            <td>
                End
            </td>
            <td>

            </td>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor='let Task of TaskInfo'>
              <td>{{Task.taskDesc}}</td>
              <td>{{Task.parentDesc}}</td>
              <td>{{Task.priority}}</td>
              <td>{{Task.startDate | date: 'dd/MM/yyyy'}}</td>
              <td>{{Task.endDate | date: 'dd/MM/yyyy'}}</td>
              <td>
                <div class="row">
                <div><button value="Edit" class="btn btn-primary" (click)="onEditClick(Task.taskId)" style="width: 100px; margin:2px">Edit</button></div>
                <div><button class="btn btn-primary" (click)="OnDeleteClick(Task.taskId)" style="width: 100px;  margin:2px">End Task</button></div>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
